:root {
  --checkbox-size: 28px;
  --checkbox-border: 2px solid #333;
  --checkbox-color: #4caf50;
  --checkbox-check-color: #fff;
}

.container {
  max-width: 1024px;
  margin: 7rem auto;
  padding: 0 2rem;

  form {
    display: flex;
    gap: 1rem;
    align-items: flex-end;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        margin-bottom: .85rem;
      }

      input {
        height: 2.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 0.5rem;
        font-size: 1rem;
      }
    }

  }

  button {
    width: 20%;
    height: 40px;
    padding: 0 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: burlywood;
    cursor: pointer;
    color: blueviolet;
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0 0.25rem;

    li {
      display: flex;
      align-items: center;
      background-color: #ccc;
      color: blueviolet;
      border-radius: 5px;
      margin-bottom: 1rem;
      padding: 0.5rem 0.85rem;
      gap: 1rem;

      input[type="checkbox"] {
        appearance: none;
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        border: var(--checkbox-border);
        border-radius: 6px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        background-color: #fff;
      }

      input[type="checkbox"]:checked {
        background-color: var(--checkbox-color);
        border-color: var(--checkbox-color);
      }

      input[type="checkbox"]:checked::after {
        content: "✔";
        color: var(--checkbox-check-color);
        font-size: calc(var(--checkbox-size) - 8px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    label {
      font-size: 1.25rem;
      font-weight: 500;
    }

    div {
      margin-left: auto;
      display: flex;
      gap: 0.5rem;

      button {
        display: inline-block;
        padding: 0 0.5rem;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-color: burlywood;
        cursor: pointer;
        color: black;
        font-size: 0.85rem;
      }

      button:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}

.done_input {
  border-style: solid !important;
  color: green !important;
  border-width: 1.5px !important;
}

.done {
  text-decoration: line-through;
  color: whitesmoke;
}